<div
  class="column-contents"
  fit-to-header-height=".options-header"
>
  <div
    ng-bind="'Youtube extractor '+ extractorStatus"
    class="glyphicon big-list-item"
    ng-class="{
      'glyphicon-ok': extractorStatus == 'done',
      'glyphicon-remove': extractorStatus == 'error',
      'glyphicon-download' : extractorStatus == 'working',
      'blink' : extractorStatus == 'working'
    }"
  >
  </div>

  <div
    ng-if="extractorStatus == 'done' && extractInfo.subs.length == 0"
    ng-bind="'): Sorry, no youtube subtitles available for this video.'"
    class="big-list-item"
  >
  </div>


  <div
    class="big-item-list flexed-item"
    ng-if="extractInfo && extractInfo.subs.length > 0"
  >
    <div
      style="flex-grow : 1"
      class="btn"
      ng-click="toggleextractDropdown($event)"
    >Choose a language to preview</div>
    <span
      class="btn-group"
      dropdown
      style="flex-grow:5"

      dropdown-toggle
      ng-disabled="disabled"
      is-open="extractListOpen.status"
    >
      <button
        id="single-button"
        type="button"
        class="btn btn-primary"

        ng-class="{
          'blink' : extractorStatus == 'working'
        }"
        style="width : 100%"
      >
        <span  ng-bind="extractInfo.visitedSub.tag + '(' + extractInfo.visitedSub.type + ')'"></span>
        <span class="caret"></span>
      </button>
      <ul
        class="dropdown-menu slide-height"
        role="menu"
        aria-labelledby="single-button"
      >

          <li class="flexed-item">
              <span class="glyphicon glyphicon-search"></span>
              <input
                style="width:auto;margin-left:1em;flex-grow:2"
                type="text"
                ng-model="extractSearch"
                focus-me="extractListOpen.status"
                ng-focus="extractListOpen.status = true"
              >
            </li>

            <li
              ng-repeat="sub in extractInfo.subs|filter:{'tag':extractSearch} track by $index"
              role="menuitem"
              ng-bind="sub.tag + ' (' + sub.type + ')'"
              ng-click="autoExtract($parent.activeMediaId, sub.tag)"
            ></li>
      </ul>
    </span>

  </div>

  <div
        class="content-preview-wrapper"
        style="padding-top:0;padding-bottom:0;padding-right:0;overflow:hidden;margin-top:1em"
        ng-if="extractInfo.visitedSub"
        ng-class="{
          'blink' : extractorStatus == 'working'
        }"
      >
        <p
          class="content-preview-container"
          ng-bind-html="prepareSrt(extractInfo.visitedSub.content)"
        >
        </p>
  </div>

  <div
    class="btn-line"
    ng-if="extractInfo.visitedSub"
    ng-class="{
      'blink' : extractorStatus == 'working'
    }"
  >
    <div
      class="btn"
      ng-click="importExtractedTranscript(extractInfo.visitedSub.content)"
    >
      <span class="glyphicon glyphicon-arrow-left"></span>
      Import this content into transcription
    </div>
  </div>
</div>
