<div
  class="column-contents"
  fit-to-header-height=".options-header"
>
  <div
    ng-bind="'Youtube extractor '+ extractorStatus"
    class="glyphicon big-list-item"
    ng-class="{
      'glyphicon-ok': extractorStatus == 'done',
      'glyphicon-remove': extractorStatus == 'error',
      'glyphicon-download' : extractorStatus == 'working',
      'blink' : extractorStatus == 'working'
    }"
  >
  </div>

  <div
    ng-if="extractorStatus == 'done' && extractInfo.subs.length == 0"
    ng-bind="'): Sorry, no youtube subtitles available for this video.'"
    class="big-list-item"
  >
  </div>


  <div
    class="big-item-list"
    ng-if="extractInfo && extractInfo.subs.length > 0"
  >
    Choose a language to preview
    <span
      class="btn-group"
      dropdown
      ng-init="extractLangOpen = false;"
      on-toggle="extractLangOpen = !extractLangOpen"
    >
      <button id="single-button" type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
        <span  ng-bind="extractInfo.visitedSub.tag + '(' + extractInfo.visitedSub.type + ')'"></span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">

       <!-- <li class="flexed-item">
          <span class="glyphicon glyphicon-search"></span>
          <input
            style="width:auto;margin-left:1em;flex-grow:2"
            type="text"
            ng-model="extractLang"
            focus-me="extractLangOpen"
          >
        </li>-->

        <li
          ng-repeat="sub in extractInfo.subs track by $index"
          role="menuitem"
          ng-bind="sub.tag + '(' + sub.type + ')'"
          ng-click="autoExtract($parent.activeMediaId, sub.tag)"
        ></li>
      </ul>
    </span>

  </div>

  <div
        class="content-preview-wrapper"
        style="padding-top:0;padding-bottom:0;padding-right:0;overflow:hidden;"
        ng-if="extractInfo.visitedSub"
      >
        <p
          class="content-preview-container"
          marked="extractInfo.visitedSub.content"
        >
        </p>
  </div>

  <div
    class="btn-line"
    ng-if="extractInfo.visitedSub"
  >
    <div
      class="btn"
      ng-click="importExtractedTranscript(extractInfo.visitedSub.content)"
    >
      <span class="glyphicon glyphicon-arrow-left"></span>
      Import this content into transcription
    </div>
  </div>
</div>
